<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="it.localhost.trafficdroid" android:versionCode="29"
	android:versionName="0.8.9 open your eyes" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="7" />
	<supports-screens android:anyDensity="true"
		android:xlargeScreens="true" android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".activity.MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.PreferencesActivity" />
		<activity android:name=".activity.WebcamActivity" />
		<service android:name=".common.TdIntentService" />
		<receiver android:name=".common.TdBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
				<action android:name="it.localhost.trafficdroid.DO_UPDATE" />
				<action android:name="it.localhost.trafficdroid.SCHEDULE_SERVICE" />
			</intent-filter>
		</receiver>
	</application>
</manifest>